@page
@model HOFORTaskPlanner.Pages.TestPages.TestDropdownModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/select.css" />
    <script src="js/select.js" type=”module”></script>
</head>
<body>
    <form method="post">
        <input type="text" list="datalist" asp-for="Display">
        <datalist id="datalist">
            <optgroup label="DisplayName / First & Last Name">
                @foreach (var user in Model.Users)
                {
                    <option value="@user.DisplayName">@user.FirstName @user.LastName</option>
                }
            </optgroup>
        </datalist>
        <button type="submit" class="btn btn-primary">Skeet</button>
    </form>
</body>
</html> 