@page
@using HOFORTaskPlanner.Models
@using System.ComponentModel.DataAnnotations
@model HOFORTaskPlanner.Pages.Admin.CreateUserModel
@{
    ViewData["Title"] = "Opret Bruger";
}
<head>
    <meta charset="utf-8">
    <title>bs5 edit profile account details - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="css/EditUser.css" rel="stylesheet" />
    <link href="css/Modal.css" />
    <link href="js/Modal.js" />
</head>

<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-8">
            <div class="card mb-4 ">
                    <div class="card-header table-hofor" style="display: flex; justify-content: space-between">
                        Brugerdetaljer - Opret
                        <a class="btn-hofor" style="text-decoration: none"data-toggle="tooltip" title="Forrige side" href='javascript:history.go(-1)'><i class="fa fa-circle-left"></i> Tilbage</a>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" asp-for="NewUser.UserName">Brugernavn</label>
                                    <input class="form-control" asp-for="NewUser.UserName" type="text" placeholder="Brugernavn">
                                    <span asp-validation-for="NewUser.UserName" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" asp-for="NewUser.Password">Kodeord</label>
                                    <input class="form-control" asp-for="NewUser.Password" type="text" placeholder="Kodeord">
                                    <span asp-validation-for="NewUser.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" asp-for="NewUser.FirstName">Fornavn</label>
                                    <input class="form-control" asp-for="NewUser.FirstName" type="text" placeholder="Fornavn">
                                    <span asp-validation-for="NewUser.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" asp-for="NewUser.LastName">Efternavn</label>
                                    <input class="form-control" asp-for="NewUser.LastName" type="text" placeholder="Efternavn">
                                    <span asp-validation-for="NewUser.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" asp-for="NewUser.DisplayName">Displaynavn</label>
                                    <input class="form-control" asp-for="NewUser.DisplayName"type="text" placeholder="Displaynavn">
                                    <h4 style="color: red">@Model.Message</h4>
                                    <span asp-validation-for="NewUser.DisplayName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label asp-for="NewUser.UserType">Brugertype</label>:<br/>
                                    <select asp-for="UserTypes" asp-items="Html.GetEnumSelectList<User.UserTypes>()">
                                        <option>Vælg en type</option>
                                    </select>
                                    <span asp-validation-for="UserTypes" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="NewUser.UserDepartment">Enhed</label>:<br />
                                        <select asp-for="UserDepartments" asp-items="Html.GetEnumSelectList<User.UserDepartments>()">
                                            <option>Vælg en enhed</option>
                                        </select>
                                        <span asp-validation-for="UserDepartments" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="NewUser.UserRole">Brugerrolle</label>:<br/>
                                        <select asp-for="UserRoles" asp-items="Html.GetEnumSelectList<User.UserRoles>()">
                                            <option>Vælg en rolle</option>
                                        </select>
                                        <span asp-validation-for="UserRoles" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-hofor" type="submit">Opret</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
