@page
@model HOFORTaskPlanner.Pages.Admin.DeleteUserModel
@{
}
<p>Are you sure you want to delete User: @Model.User.DisplayName?</p>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a class="btn btn-primary" asp-page="/User/GetUsers">No</a>
</form>
