@page
@model HOFORTaskPlanner.Pages.Assignment.DetailsModel
@{
}
<table>
    <thead>
        <tr>
            <th>
                AssignmentStuff
            </th>
            <th>
                Kalender - År
            </th>
        </tr>
        <tr>
            <th>
                Status
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Start
            </th>
            <th>
                Slut
            </th>
            <th>
                Estimat
            </th>
            <th>
                Rest
            </th>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Apr
            </th>
            <th>
                Maj
            </th>
            <th>
                Jun
            </th>
            <th>
                Jul
            </th>
            <th>
                Aug
            </th>
            <th>
                Sep
            </th>
            <th>
                Okt
            </th>
            <th>
                Nov
            </th>
            <th>
                Dec
            </th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>