/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-y: scroll; /* Show vertical scrollbar */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.IsCurrentMonthHead {
    border: 2px solid red !important;
    border-bottom: 0px !important;
}
.IsCurrentMonthMiddle {
    border: 2px solid red !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
}
.IsCurrentMonthBottom {
    border: 2px solid red !important;
    border-bottom: 2px solid red !important;
    border-top: 0px !important;
}
.IsNotCurrentMonth {
   
}

.table-hofor {
    background-color: #0F464B !important;
    color: white !important;
}
.btn-hofor {
    background-color: #0F464B !important;
    color: #C6EF75 !important;
}
.TableSeperator {
    border: 2px solid black !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}
.TableSeperatorLeft {
    border: 2px solid black !important;
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
    border-left: 2px solid black !important;
    border-right: 0px !important;
}
.TableSeperatorRight {
    border: 2px solid black !important;
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
    border-left: 0px !important;
    border-right: 2px solid black !important;
}
.brand img { max-width: 30%; }

.Table-small {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.TableSeperatorFull {
    border: 2px solid black !important;
}

.TableSeperatorSides {
    border: 2px solid black !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

.grid tbody tr td {
    background-color: white;
}

.grid tbody tr:nth-child(odd) td:nth-child(even),
.grid tbody tr:nth-child(even) td:nth-child(odd) {
    background-color: #e8e4e4;

}
.HoursLowColour {
    background-color: #fff2cc !important;
}
.HoursGoodColour {
    background-color: #92d050 !important;
}
.HoursWarningColour {
    background-color: #f8cbad !important;
}
.HoursExtremeColour {
    background-color: #ed7d31 !important;
}
.IsCurrentYearLeft {
    border-left: 2px solid red !important;
    border-top: 2px solid red !important;
    border-bottom: 2px solid red !important;
}

.IsCurrentYearMiddle {
    border-top: 2px solid red !important;
    border-bottom: 2px solid red !important;
}

.IsCurrentYearRight {
    border-top: 2px solid red !important;
    border-right: 2px solid red !important;
    border-bottom: 2px solid red !important;
}

.IsNotCurrentYear {
    background-color: lightgray
}